@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

input {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ul li {
  list-style: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

/* --accent-text-color: #ffffff;  */
/* --time: 250ms; */
/* --cubic: cubic-bezier(0.4, 0, 0.2, 1); */
body {
  font-family: "Value Sans Pro", sans-serif;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  background-color: #111111;
  background-image: url(/img/bg-1.jpg), url(/img/bg-4.jpg), url(/img/bg-5.jpg), url(/img/bg-4.jpg), url(/img/bg-5.jpg);
  background-position: left 0 top -50px, left 0 top 1300px, left 0 top 2500px, left 0 top 4500px, left 0 top 5700px;
  background-repeat: no-repeat;
  background-size: 100%, 100%, 100%, 100%, 100%, 100%;
  line-height: normal;
}
body .no-scroll {
  overflow: hidden;
}
body a {
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  body {
    background-image: url(/img/bg-1.jpg), url(/img/bg-4.jpg), url(/img/bg-5.jpg), url(/img/bg-4.jpg), url(/img/bg-5.jpg);
    background-position: left 0 top -50px, left 0 top 1550px, left 0 top 2500px, left 0 top 5000px, left 0 top 6800px;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-image: url(/img/bgm-2.jpg), url(/img/bgm-1.jpg), url(/img/bgm-3.jpg), url(/img/bgm-4.jpg), url(/img/bgm-5.jpg), url(/img/bgm-6.jpg), url(/img/bgm-7.jpg), url(/img/bgm-8.jpg), url(/img/bgm-9-10.jpg);
    background-position: right -30px top 350px, left 0 top 0, left 0 top 1000px, left 0 top 2560px, right 0 top 3550px, right 0 top 5250px, left 0 top 6000px, right 0 top 6500px, left 0 top 7300px;
    background-size: 70%, 80%, 80%, 80%, 80%, 60%, 50%, 70%, 40%;
  }
}
@media screen and (max-width: 570px) {
  body {
    background-position: right 0px top 450px, left 0 top 0, left 0 top 950px, left 0 top 2500px, left 0 top 3550px, right 0 top 5200px, left 0 top 6000px, right 0 top 6400px, left 0 top 7000px;
    background-size: 100%, 100%, 100%, 100%, 100%, 70%, 60%, 60%, 60%;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-position: right 0px top 450px, left 0 top 0, left 0 top 950px, left 0 top 2660px, left 0 top 3550px, right 0 top 5300px, left 0 top 6100px, right 0 top 6550px, left 0 top 7200px;
    background-size: 100%, 100%, 100%, 100%, 100%, 90%, 70%, 70%, 60%;
  }
}

.hidden {
  display: none;
}

.is-hidden {
  display: none;
}

.container {
  max-width: 1340px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container-all {
  width: 100%;
}

.container-l {
  width: 100%;
  padding-left: 60px;
}

.container-single {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.section {
  margin-bottom: 56px;
}
@media screen and (max-width: 768px) {
  .section {
    margin-bottom: 32px;
  }
}

.section-s {
  margin-bottom: 16px;
}

.section-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-item {
  width: 32%;
  padding: 24px;
  border-radius: 33px;
  background: var(--accent-color-d);
  justify-content: space-between;
}

.section-title {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.title-item {
  font-family: Unbounded;
  color: var(--secondary-text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 48px */
}

.title-item-h4 {
  font-family: Unbounded;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
}

.text-item {
  line-height: 150%;
}

.tab {
  writing-mode: vertical-rl;
  transform: scale(-1);
  border-radius: 16px 0 0 16px;
  padding: 24px 16px;
  width: 48px;
  height: -moz-max-content;
  height: max-content;
  background: #0d30b6;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .tab {
    writing-mode: horizontal-tb;
    transform: none;
    border-radius: 16px;
    padding: 16px 24px;
    width: -moz-max-content;
    width: max-content;
    height: 48px;
  }
}

@media screen and (max-width: 768px) {
  .tab-deck {
    display: none;
  }
}
.btn {
  background: url(/img/btn-blue.svg) no-repeat;
  width: 240px;
  height: 50px;
  padding: 16px 27px;
  border: none;
  color: white;
  text-align: left;
  font-size: 16px;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
.btn:hover {
  background: url(/img/btn-yell.svg) no-repeat;
  color: #000000;
}

.container-header {
  max-width: 1380px;
}

.header__container {
  border-radius: 100px;
  margin-top: 20px;
  padding: 12px;
  -webkit-backdrop-filter: blur(65.5px);
          backdrop-filter: blur(65.5px);
  background: rgba(32, 32, 32, 0.46);
}

.btn-header {
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 27px;
  padding: 14px 35px;
  font-size: 16px;
  color: #ffffff;
  max-width: 195px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .btn-header {
    padding: 10px 10px;
  }
}

.header__menu-list {
  gap: 36px;
}
.header__menu-list li {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 980px) {
  .header__menu-list {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu-list {
    display: none;
  }
  .header__menu-list.mob-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 980px) {
  .header__logo {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .header__logo img {
    width: 95px;
  }
}

.header__container-item-wrap {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 24px;
}
.header__container-item-wrap.row-right {
  justify-content: end;
}
@media screen and (max-width: 980px) {
  .header__container-item-wrap {
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  .header__container-item-wrap {
    width: 35%;
    justify-content: space-between;
  }
  .header__container-item-wrap.row-right {
    width: 65%;
  }
}

.header-soс {
  gap: 24px;
}
@media screen and (max-width: 980px) {
  .header-soс {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header-soс {
    display: none;
  }
  .header-soс.mob-soc {
    display: flex;
  }
}

.header-burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-burger {
    display: block;
    margin-left: 16px;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /*-------------mobile-menu-----------*/
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 12;
  }
  .mobile-menu.is-active {
    display: block;
  }
  .mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
  }
  .mobile-menu-wrap {
    width: 100%;
    background: rgba(50, 51, 53, 0.88);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    display: flex;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .mob-menu li a {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;
  }
  .mob-soc {
    gap: 40px;
  }
  .header-menu {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .mobile-menu-logo {
    margin: 0 auto;
    padding-right: 0;
  }
}
.hero {
  position: relative;
  margin-bottom: 60px;
}
.hero__item-wrap {
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .hero__item-wrap {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .hero__item-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero__item.hero__item-one {
  width: 52%;
}
.hero__item.hero__item-two {
  width: 47%;
}
.hero__item h1 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 130px;
}
@media screen and (max-width: 1366px) {
  .hero__item h1 {
    margin-top: 3vw;
  }
}
@media screen and (max-width: 1280px) {
  .hero__item h1 {
    margin-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .hero__item h1 {
    margin-top: 30px;
  }
}
.hero__item h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 36px;
  width: 580px;
}
@media screen and (max-width: 1024px) {
  .hero__item h1 {
    font-size: 32px;
  }
  .hero__item h2 {
    max-width: 400px;
    width: 100%;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .hero__item.hero__item-one {
    width: 100%;
  }
  .hero__item.hero__item-two {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .hero__item h1 {
    margin-top: 32px;
    text-align: center;
  }
  .hero__item h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__item-two img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .hero__item-two img {
    display: none;
  }
}
.hero__item-two .hero-img-mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .hero__item-two .hero-img-mob {
    display: block;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .hero__item-two {
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__item-two ul {
  border-radius: 14px;
  padding: 21px 54px;
  width: 630px;
  align-items: start;
  background: rgba(32, 32, 32, 0.46);
  gap: 50px;
}
@media screen and (max-width: 1440px) {
  .hero__item-two ul {
    width: 600px;
  }
}
@media screen and (max-width: 1360px) {
  .hero__item-two ul {
    max-width: 630px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .hero__item-two ul {
    padding: 20px;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero__item-two ul {
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__item-two ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__item-two ul li h5 {
  margin: 0;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}
.hero__item-two ul li h5 span {
  font-size: 26px;
}
@media screen and (max-width: 1024px) {
  .hero__item-two ul li h5 span {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__item-two ul li h5 {
    font-size: 24px;
  }
}
.hero__item-two ul li p {
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .hero__item-two ul li p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__item-two ul li {
    gap: 8px;
  }
}
.hero .hero__form p {
  font-size: 16px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .hero .hero__form p {
    text-align: center;
  }
}
.hero .hero__form form {
  display: flex;
  width: 100%;
}
.hero .hero__form input {
  border: none;
  border-bottom: 1px solid #8a8a8a;
  background-color: transparent;
  padding: 12px 10px 8px 0px;
  max-width: 125px;
  width: 100%;
  height: 42px;
  margin-right: 16px;
}
.hero .hero__form input::-moz-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
.hero .hero__form input::placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
@media screen and (max-width: 470px) {
  .hero .hero__form input {
    max-width: 113px;
    margin-right: 0;
  }
}
.hero .hero__form .hero-inp-two {
  max-width: 200px;
  width: 100%;
}
@media screen and (max-width: 470px) {
  .hero .hero__form .hero-inp-two {
    max-width: 175px;
  }
}
@media screen and (max-width: 1240px) {
  .hero .hero__form form {
    flex-wrap: wrap;
  }
  .hero .hero__form .btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1240px) and (max-width: 1024px) {
  .hero .hero__form .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero__form form {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
}

.platform {
  position: relative;
}
.platform__wrap--text {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .platform__wrap--text {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .platform__wrap--text h2 {
    text-align: center;
  }
  .platform__wrap--text p {
    text-align: center;
  }
}
.platform__wrap--img {
  width: 60%;
}
.platform__wrap--img img {
  position: absolute;
  top: 0;
  right: -40px;
  width: 910px;
}
@media screen and (max-width: 1440px) {
  .platform__wrap--img img {
    width: 62vw;
  }
}
@media screen and (max-width: 768px) {
  .platform__wrap--img img {
    width: 100vw;
    top: auto;
    bottom: -20px;
    left: 45%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 560px) {
  .platform__wrap--img img {
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .platform__wrap--img img {
    left: 41%;
    width: 120vw;
  }
}
@media screen and (max-width: 768px) {
  .platform__wrap--img {
    width: 100%;
  }
}

.platform__container {
  background-image: url(/img/group_sec1-all.svg);
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 595px;
  padding: 40px 0 40px 40px;
  -webkit-backdrop-filter: blur(160px);
          backdrop-filter: blur(160px);
  border: 1px solid rgba(240, 252, 134, 0.0941176471);
}
@media screen and (max-width: 1440px) {
  .platform__container {
    height: 550px;
  }
}
@media screen and (max-width: 1200px) {
  .platform__container {
    height: 450px;
  }
}
@media screen and (max-width: 980px) {
  .platform__container {
    height: 370px;
  }
}
@media screen and (max-width: 768px) {
  .platform__container {
    flex-direction: column;
    height: 650px;
    justify-content: start;
    padding: 80px 20px 40px 20px;
  }
}
@media screen and (max-width: 560px) {
  .platform__container {
    height: 520px;
  }
}
@media screen and (max-width: 480px) {
  .platform__container {
    height: 590px;
    background-image: url(/img/bg-mob-pl-3.svg);
    background-size: contain;
    border-radius: 50px;
    padding: 70px 10px 40px 10px;
  }
}
@media screen and (max-width: 400px) {
  .platform__container {
    height: 540px;
  }
}
.platform__container h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .platform__container h2 {
    font-size: 24px;
  }
}
.platform__container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .platform__container p {
    font-size: 16px;
  }
}

.whom {
  position: relative;
}
.whom .tab {
  position: absolute;
  left: 0;
  top: 200px;
}
@media screen and (max-width: 768px) {
  .whom .tab-deck {
    display: none;
  }
}
.whom .tab-mob {
  display: none;
}
@media screen and (max-width: 768px) {
  .whom .tab-mob {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
}
.whom__title {
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 36px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .whom__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
  }
}
.whom__container {
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .whom__container {
    display: block;
    gap: 0;
    flex-wrap: nowrap;
  }
}
.whom__item {
  width: 303px;
  height: 340px;
  padding: 36px 20px;
  background-repeat: no-repeat;
}
.whom__item h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}
.whom__item p {
  font-size: 18px;
  line-height: 150%;
  max-width: 290px;
  width: 100%;
}
.whom__item.one {
  background-image: url(/img/Новичкам.png);
  color: #111111;
}
.whom__item.two {
  background-image: url(/img/СпециалистамIT.png);
  padding-top: 130px;
}
.whom__item.three {
  background-image: url(/img/СпециалистамИБ.png);
  color: #111111;
}
.whom__item.four {
  background-image: url(/img/Компаниям.png);
  padding-top: 130px;
}

.swiper-whom.whom-swp {
  display: none;
}

.swiper-pagination-wh.swiper-pagination-bullets {
  display: none;
}

@media screen and (max-width: 768px) {
  .whom-deck.row {
    display: none;
  }
  .swiper-whom.whom-swp {
    display: block;
  }
  .swiper.swiper-whom {
    width: 100%;
    height: 345px;
  }
  .whom__item.swiper-slide {
    width: 303px;
    height: 340px;
  }
  .swiper-pagination-wh.swiper-pagination-bullets {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
  }
  .swiper-pagination-wh .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #9e9e9e;
    color: #6c6c6c;
  }
  .swiper-pagination-wh .swiper-pagination-bullet-active {
    background: #0d30b6;
    width: 25px;
    border-radius: 48px;
  }
}
.modules {
  position: relative;
}
.modules .tab {
  position: absolute;
  left: 0;
  top: 300px;
}
.modules__container {
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .modules__container {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.modules__item {
  width: 409px;
  height: 505px;
  padding: 20px;
  background-repeat: no-repeat;
}
.modules__item .row__sb {
  max-width: 390px;
  width: 100%;
}
.modules__item h4 {
  font-family: "Unbounded", sans-serif;
  font-weight: 200;
  margin-bottom: 25px;
}
.modules__item h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.modules__item h5 {
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-style: italic;
  margin-bottom: 16px;
  font-size: 16px;
}
.modules__item .text {
  max-width: 390px;
  width: 100%;
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 16px;
}
.modules__item ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 6px;
}
.modules__item ul li {
  align-items: center;
  border-radius: 45px;
  padding: 4px 16px 4px 4px;
  background: #ffffff;
  color: #111111;
  font-size: 16px;
}
.modules__item ul li img {
  margin-right: 10px;
}
.modules__item.one {
  padding-top: 14px;
  background-image: url(/img/tab-1.png);
}
.modules__item.two {
  padding-top: 60px;
  background-image: url(/img/tab-2.png);
  background-position: bottom 0 left 0;
  color: #8a8a8a;
}
.modules__item.two .lable {
  border-radius: 35px;
  padding: 7px 16px 5px 16px;
  background: #0d30b6;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  width: 120px;
}
.modules__item.two .text {
  margin-bottom: 30px;
}
.modules__item.two h3 {
  margin-bottom: 0;
  width: 60%;
}
.modules__item.two .row__sb {
  margin-bottom: 8px;
}
.modules__item.two li {
  background: #2c2c2c;
  color: #8a8a8a;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 914px) {
  .modules__item.two {
    margin-top: 30px;
  }
}
.modules__item.three .text {
  margin-bottom: 16px;
}
.modules__item.three li {
  width: 300px;
}
@media screen and (max-width: 1340px) {
  .modules__item.three {
    margin-top: 0px;
  }
}

.swiper-modules.mod-mob {
  display: none;
}

.swiper-pagination-mod {
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper-modules.mod-mob {
    display: block;
  }
  .mod-deck {
    display: none;
  }
  .swiper-pagination-mod {
    display: block;
  }
}
.swiper.swiper-modules {
  width: 100%;
  height: 500px;
}
.swiper.swiper-modules .swiper-wrapper {
  align-items: end;
}

.modules__item.swiper-slide {
  width: 409px;
  height: 505px;
}

.swiper-pagination-mod.swiper-pagination-bullets {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  text-align: center;
}

.swiper-pagination-mod .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #9e9e9e;
  color: #6c6c6c;
}

.swiper-pagination-mod .swiper-pagination-bullet-active {
  background: #0d30b6;
  width: 25px;
  border-radius: 48px;
}

.study__container {
  gap: 45px;
  align-items: start;
  align-content: stretch;
}
.study__container.st-cont-mob {
  display: none;
}
@media screen and (max-width: 1200px) {
  .study__container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .study__container.st-cont-desc {
    display: none;
  }
  .study__container.st-cont-mob {
    display: block;
    justify-content: center;
  }
}
.study__container .row-study-wr {
  width: 33%;
  align-content: stretch;
  align-items: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
@media screen and (max-width: 1200px) {
  .study__container .row-study-wr {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .study__container .row-study-wr {
    width: 100%;
    margin-left: 20px;
  }
}
.study__item span {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  background: linear-gradient(180deg, rgba(244, 244, 81, 0.9) 0%, rgba(244, 224, 81, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffe841;
}
.study__item p {
  margin-left: 8px;
  line-height: 150%;
}
.study__item.one p {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .study__item.one p {
    margin-left: 0;
  }
}
.study__item.img {
  width: 33%;
  height: 390px;
}
@media screen and (max-width: 768px) {
  .study__item.img {
    width: 100%;
    height: 320px;
  }
}
.study__item.img img {
  border-radius: 20px;
  width: 99%;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10px 0;
     object-position: 10px 0;
}
@media screen and (max-width: 768px) {
  .study__item.img img {
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 10px 0;
       object-position: 10px 0;
  }
}
@media screen and (max-width: 1200px) {
  .study__item.st-img-2 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .study__item.st-img-1 {
    display: none;
  }
}

.row-study {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}
.row-study li {
  width: 48%;
}

.step__container {
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .step__container {
    gap: 16px;
  }
}
.step__item {
  width: 33%;
  border-left: 3px solid #0d30b6;
  padding: 16px;
  background: linear-gradient(90deg, rgba(14, 50, 255, 0.2470588235) 0%, rgba(17, 17, 17, 0.1294117647) 100%);
}
.step__item--wrap {
  justify-content: start;
  margin-bottom: 16px;
}
.step__item h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-left: 12px;
}
.step__item p {
  weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.swiper-step.step-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .step-deck {
    display: none;
  }
  .swiper-step.step-mob {
    display: block;
  }
  .swiper-step.step-mob .step__item {
    width: 330px;
  }
  .swiper-step.step-mob .step__item p {
    font-size: 14px;
  }
}
.swiper-pagination-step.swiper-pagination-bullets {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  text-align: center;
}

.swiper-pagination-step .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #9e9e9e;
  color: #6c6c6c;
}

.swiper-pagination-step .swiper-pagination-bullet-active {
  background: #0d30b6;
  width: 25px;
  border-radius: 48px;
}

.advantages {
  position: relative;
}
.advantages__wrap--text {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .advantages__wrap--text {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .advantages__wrap--text {
    width: 100%;
  }
}
.advantages__wrap--text .vector {
  position: absolute;
  top: -20px;
  left: -20px;
}
@media screen and (max-width: 1280px) {
  .advantages__wrap--text .vector {
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__wrap--text .vector {
    height: 370px;
    top: -10px;
    left: 0px;
  }
}
@media screen and (max-width: 480px) {
  .advantages__wrap--text .vector {
    height: 450px;
    top: -10px;
    left: 0px;
  }
}
.advantages__wrap--img {
  width: 50%;
}
@media screen and (max-width: 1280px) {
  .advantages__wrap--img {
    width: 45%;
  }
}
@media screen and (max-width: 1280px) {
  .advantages__wrap--img {
    width: 100%;
  }
}
.advantages__wrap--img img {
  position: absolute;
  bottom: 0;
  right: -20px;
}
@media screen and (max-width: 1400px) {
  .advantages__wrap--img img {
    right: 0;
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .advantages__wrap--img img {
    width: 70vw;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 480px) {
  .advantages__wrap--img img {
    width: 90vw;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
  }
}
.advantages__container {
  background-image: url(/img/adv-bg.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  border-radius: 25px;
  border: 1px solid #303030;
  height: 584px;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .advantages__container {
    background-image: url(/img/bg-mob-adw-1.svg);
    background-size: 100%;
    background-position: bottom 0 right 0;
    padding: 20px;
  }
}
.advantages__container h2 {
  font-family: "Unbounded", sans-serif;
  line-height: 150%;
  margin-bottom: 36px;
  font-size: 29px;
  font-weight: 400;
  max-width: 740px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .advantages__container h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1280px) {
  .advantages__container {
    height: 530px;
  }
}
@media screen and (max-width: 992px) {
  .advantages__container {
    height: 570px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__container {
    height: 720px;
  }
  .advantages__container .adv-row {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .advantages__container {
    height: 830px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: start;
}
@media screen and (max-width: 1280px) {
  .advantages__list {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__list {
    padding-left: 20px;
  }
}
.advantages__item {
  align-items: center;
  justify-content: start;
}
.advantages__item span {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #ffe841;
  margin-bottom: 5px;
}
.advantages__item p {
  margin-left: 10px;
  font-size: 22px;
  line-height: 150%;
}
@media screen and (max-width: 1280px) {
  .advantages__item p {
    font-size: 18px;
  }
}
.advantages__item.one p {
  margin-left: 15px;
}

.form-1__wrap--text {
  width: 50%;
  padding: 50px;
}
@media screen and (max-width: 1024px) {
  .form-1__wrap--text {
    padding: 0 20px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .form-1__wrap--text {
    width: 100%;
    padding: 0;
  }
}
.form-1__wrap--img {
  width: 50%;
  margin-left: auto;
}
.form-1__wrap--img img {
  margin-left: auto;
  border-radius: 22px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form-1__wrap--img {
    display: none;
  }
}
.form-1__container {
  border-radius: 46px;
  background: linear-gradient(135deg, #1f1f23 0%, #131319 100%);
  padding: 40px 40px;
}
@media screen and (max-width: 768px) {
  .form-1__container {
    background: linear-gradient(90deg, rgba(31, 31, 35, 0.6755077031) 0%, rgba(19, 19, 25, 0.5242471989) 100%);
    display: block;
    padding: 24px 16px;
  }
}
.form-1__container h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .form-1__container h2 {
    text-align: center;
  }
}
.form-1__container p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .form-1__container p {
    text-align: center;
    margin-bottom: 16px;
  }
}

.form-1__form form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  gap: 28px;
}
@media screen and (max-width: 768px) {
  .form-1__form form {
    margin-left: auto;
    margin-right: auto;
  }
}
.form-1__form input {
  border: none;
  border-bottom: 1px solid #8a8a8a;
  background-color: transparent;
  padding: 12px 10px 8px 0px;
  height: 42px;
  margin-right: 16px;
}
.form-1__form input::-moz-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
.form-1__form input::placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
@media screen and (max-width: 768px) {
  .form-1__form input {
    margin-right: 0;
  }
}
.form-1__form .form-1-btn {
  margin-left: auto;
}

.form-1-img-mob {
  display: none;
}
@media screen and (max-width: 768px) {
  .form-1-img-mob {
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
  }
}

.form-2 {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .form-2 {
    margin-bottom: 56px;
  }
}
.form-2__container {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .form-2__container {
    max-width: 430px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.form-2__container h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .form-2__container h2 {
    text-align: center;
  }
}
.form-2__container p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .form-2__container p {
    text-align: center;
  }
}

.form-2__form form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  gap: 28px;
}
.form-2__form input {
  border: none;
  border-bottom: 1px solid #8a8a8a;
  background-color: transparent;
  padding: 12px 10px 8px 0px;
  height: 42px;
  margin-right: 16px;
}
.form-2__form input::-moz-placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
.form-2__form input::placeholder {
  font-size: 14px;
  color: #8a8a8a;
}
@media screen and (max-width: 768px) {
  .form-2__form input {
    margin-right: 0;
  }
}
.form-2__form .form-2-btn {
  background: url(/img/btn-yell.svg) no-repeat;
  margin-left: auto;
  color: #111111;
}
@media screen and (max-width: 768px) {
  .form-2__form .form-2-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

.faq__container {
  max-width: 990px;
  width: 100%;
}
.faq__container h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  max-width: 340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}
@media screen and (max-width: 768px) {
  .faq__container h2 {
    font-size: 20px;
    max-width: 300px;
    font-weight: 400;
  }
}
.faq__item {
  border-top: 1px solid #6c6c6c;
  border-bottom: 1px solid #6c6c6c;
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq__item h3 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .faq__item h3 {
    font-size: 16px;
  }
}
.faq__item p {
  font-size: 16px;
  line-height: 150%;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .faq__item p {
    font-size: 14px;
  }
}
.faq__item .faq-img {
  background: transparent;
}

.tech__container {
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .tech__container {
    gap: 0;
    flex-wrap: nowrap;
  }
  .tech__container.row {
    display: none;
  }
}
.tech__item {
  width: 195px;
}
.tech__item p {
  border-radius: 60px;
  padding: 16px 0px;
  text-align: center;
  background: #0d30b6;
}

.tech__item.swiper-slide {
  width: 195px;
}

.tech__container.tech-1 {
  margin-bottom: 16px;
}

.swiper.swiper-tech-1,
.swiper.swiper-tech-2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper.swiper-tech-1,
  .swiper.swiper-tech-2 {
    width: 100%;
    display: block;
  }
}
.about__container p {
  font-size: 20px;
  line-height: 150%;
  -moz-column-count: 2;
       column-count: 2;
}
@media screen and (max-width: 1024px) {
  .about__container p {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media screen and (max-width: 560px) {
  .about__container p {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  .about__text-deck {
    display: none;
  }
}

.about__text-mob {
  display: none;
}
@media screen and (max-width: 560px) {
  .about__text-mob {
    display: block;
  }
}
.about__text-mob .btn-down {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: transparent;
}
.about__text-mob .expandable-text {
  position: relative;
  cursor: pointer;
}
.about__text-mob .hidden-text {
  display: none;
}
.about__text-mob .visible-text.transp {
  font-weight: 500;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 50%, rgba(189, 189, 189, 0) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.sert__container {
  gap: 36px 55px;
  flex-wrap: wrap; /* Гарантирует, что иконки останутся в одной строке */
}
@media screen and (max-width: 768px) {
  .sert__container {
    flex-wrap: nowrap;
    gap: 10px;
  }
}
.sert__item {
  width: -moz-max-content;
  width: max-content;
}
.sert__item img {
  height: 45px;
}
@media screen and (max-width: 768px) {
  .sert__item {
    width: 100px;
  }
}

.swiper.swiper-sert-1,
.swiper.swiper-sert-2 {
  width: 100%;
  display: none;
}

.sert__item.swiper-slide {
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 768px) {
  .swiper.swiper-sert-1,
  .swiper.swiper-sert-2 {
    width: 100%;
    display: block;
  }
  .sert-deck {
    display: none;
  }
  .swiper-sert-1 {
    margin-bottom: 36px;
  }
}
.wcomp__container {
  background-image: url(/img/bg-whom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px 67px;
}
@media screen and (max-width: 768px) {
  .wcomp__container {
    padding: 32px 0 40px;
    border-radius: 0;
  }
}
.wcomp__container h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 470px;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media screen and (max-width: 768px) {
  .wcomp__container h2 {
    font-size: 20px;
    text-align: center;
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.wcomp__list {
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .wcomp__list {
    gap: 0;
  }
  .wcomp__list.wc-deck {
    display: none;
  }
}
.wcomp__item {
  width: 195px;
}
.wcomp__item div {
  border-radius: 60px;
  padding: 16px 0px;
  text-align: center;
  background: #ffffff;
}
.wcomp__item p {
  padding-left: 10px;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #111111;
}

.swiper.swiper-wcomp {
  width: 100%;
  display: none;
}

@media screen and (max-width: 768px) {
  .wcomp.container {
    padding-left: 0;
    padding-right: 0;
  }
  .wcomp__item.swiper-slide {
    width: 195px;
  }
  .swiper.swiper-wcomp {
    width: 100%;
    display: block;
  }
}
.footer {
  padding-top: 60px;
  background: #111111;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 340px;
  }
}

.footer-wrap {
  width: 100%;
  height: 190px;
  padding-bottom: 24px;
}

.footer-wrap-in {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .footer-wrap-in {
    display: block;
  }
}

.footer-one {
  max-width: 330px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer-one {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
  }
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.footer-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .footer-subtitle {
    display: none;
  }
}

.footer-list a {
  font-weight: 400;
  font-size: 16px;
}

.footer-list li {
  margin-bottom: 24px;
}

.footer-list-two li {
  justify-content: start;
  gap: 16px;
}

.copy {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.footer-soс {
  gap: 24px;
}

.footer-wr-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-wr-2 {
    display: none;
  }
  .footer-wr-3 {
    display: none;
  }
  .footer-wr-mob {
    display: block;
    margin-bottom: 36px;
  }
  .footer-wr-mob .row__sb {
    align-items: start;
  }
}/*# sourceMappingURL=main.css.map */