:root {
  --primary-color: #111111;
  --accent-color: #ffe841;
  --accent-color-2: #0d30b6;
  --btn-color: #0d30b6;
  --btn-color-2: #ffe841;
  --primary-text-color: #ffffff;
  --secondary-text-color: #111111;
  --dop-color: #8a8a8a;
  /* --accent-text-color: #ffffff;  */
  /* --time: 250ms; */
  /* --cubic: cubic-bezier(0.4, 0, 0.2, 1); */
}
