.study {
  &__container {
    gap: 45px;
    align-items: start;
    align-content: stretch;
    &.st-cont-mob {
      display: none;
    }
    @media screen and (max-width: 1200px) {
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      &.st-cont-desc {
        display: none;
      }
      &.st-cont-mob {
        display: block;
        justify-content: center;
      }
    }
    & .row-study-wr {
      width: 33%;
      align-content: stretch;
      align-items: start;
      justify-content: start;
      display: flex;
      flex-direction: column;
      gap: 22px;
      @media screen and (max-width: 1200px) {
        width: 49%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 20px;
      }
    }
  }

  &__item {
    // height: 63px;

    & span {
      font-family: $second-family;
      font-weight: 700;
      font-size: 42px;
      line-height: 150%;
      background: linear-gradient(
        180deg,
        rgba(244, 244, 81, 0.9) 0%,
        rgba(244, 224, 81, 0) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px $accent-color;
    }
    & p {
      margin-left: 8px;
      line-height: 150%;
    }
    &.one {
      & p {
        margin-left: 20px;
        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
    &.img {
      width: 33%;
      height: 390px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 320px;
      }
      & img {
        border-radius: 20px;
        width: 99%;
        height: 390px;
        object-fit: cover;
        object-position: 10px 0;
        @media screen and (max-width: 768px) {
          height: 320px;
          object-fit: cover;
          object-position: 10px 0;
        }
      }
    }
    // &.st-img-2 {
    //   display: ;
    // }
    @media screen and (max-width: 1200px) {
      &.st-img-2 {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      &.st-img-1 {
        display: none;
      }
    }
  }
}

.row-study {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
  & li {
    width: 48%;
  }
}
