.tech {
  &__container {
    gap: 16px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      gap: 0;
      flex-wrap: nowrap;
      // justify-content: space-around;
      &.row {
        display: none;
      }
    }
  }
  &__item {
    width: 195px;
    & p {
      border-radius: 60px;
      padding: 16px 0px;
      text-align: center;
      background: $accent-color-2;
    }
  }
}
.tech__item.swiper-slide {
  width: 195px;
}
.tech__container.tech-1 {
  margin-bottom: 16px;
}
.swiper.swiper-tech-1,
.swiper.swiper-tech-2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper.swiper-tech-1,
  .swiper.swiper-tech-2 {
    width: 100%;
    display: block;
  }
}
